body {
    font-family: 'Lato', sans-serif;
    color: #747784;
    font-weight: 300;
    background-color: #f4f7f8;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}


.title-super {
    font-size: 40px;
 }

.title-logo {
    margin-top: 20px;
    max-height: 100px;
}

.container {
    max-width: 960px;
}